<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn-circle-plus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,144}</string>
                <key>spriteSourceSize</key>
                <string>{144,144}</string>
                <key>textureRect</key>
                <string>{{1667,115},{144,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn-circle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,144}</string>
                <key>spriteSourceSize</key>
                <string>{144,144}</string>
                <key>textureRect</key>
                <string>{{0,259},{144,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn-cirlce-minus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,144}</string>
                <key>spriteSourceSize</key>
                <string>{144,144}</string>
                <key>textureRect</key>
                <string>{{144,259},{144,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn-close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,97}</string>
                <key>spriteSourceSize</key>
                <string>{97,97}</string>
                <key>textureRect</key>
                <string>{{0,0},{97,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn-disabled.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{641,253}</string>
                <key>spriteSourceSize</key>
                <string>{641,253}</string>
                <key>textureRect</key>
                <string>{{0,501},{641,253}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn-quare-out.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,107}</string>
                <key>spriteSourceSize</key>
                <string>{100,107}</string>
                <key>textureRect</key>
                <string>{{97,0},{100,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn-rect-blue-hover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{641,253}</string>
                <key>spriteSourceSize</key>
                <string>{641,253}</string>
                <key>textureRect</key>
                <string>{{641,501},{641,253}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn-rect-blue-normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{641,253}</string>
                <key>spriteSourceSize</key>
                <string>{641,253}</string>
                <key>textureRect</key>
                <string>{{1282,501},{641,253}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn-rect-blue-pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{641,253}</string>
                <key>spriteSourceSize</key>
                <string>{641,253}</string>
                <key>textureRect</key>
                <string>{{0,754},{641,253}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn-rect-green-hover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{641,253}</string>
                <key>spriteSourceSize</key>
                <string>{641,253}</string>
                <key>textureRect</key>
                <string>{{641,754},{641,253}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn-rect-green-normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{641,253}</string>
                <key>spriteSourceSize</key>
                <string>{641,253}</string>
                <key>textureRect</key>
                <string>{{1282,754},{641,253}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn-rect-green-pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{641,253}</string>
                <key>spriteSourceSize</key>
                <string>{641,253}</string>
                <key>textureRect</key>
                <string>{{0,1007},{641,253}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn-rect-orange-hover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{641,253}</string>
                <key>spriteSourceSize</key>
                <string>{641,253}</string>
                <key>textureRect</key>
                <string>{{641,1007},{641,253}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn-rect-orange-normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{641,253}</string>
                <key>spriteSourceSize</key>
                <string>{641,253}</string>
                <key>textureRect</key>
                <string>{{1282,1007},{641,253}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn-rect-orange-pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{641,253}</string>
                <key>spriteSourceSize</key>
                <string>{641,253}</string>
                <key>textureRect</key>
                <string>{{0,1260},{641,253}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>input-player-name.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{694,242}</string>
                <key>spriteSourceSize</key>
                <string>{694,242}</string>
                <key>textureRect</key>
                <string>{{984,259},{694,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>input-room-id.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{696,241}</string>
                <key>spriteSourceSize</key>
                <string>{696,241}</string>
                <key>textureRect</key>
                <string>{{288,259},{696,241}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>label-btn-confirm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,114}</string>
                <key>spriteSourceSize</key>
                <string>{235,114}</string>
                <key>textureRect</key>
                <string>{{197,0},{235,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>label-btn-create-room.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{466,115}</string>
                <key>spriteSourceSize</key>
                <string>{466,115}</string>
                <key>textureRect</key>
                <string>{{902,0},{466,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>label-btn-join-room.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{466,115}</string>
                <key>spriteSourceSize</key>
                <string>{466,115}</string>
                <key>textureRect</key>
                <string>{{1368,0},{466,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>label-btn-join.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,114}</string>
                <key>spriteSourceSize</key>
                <string>{235,114}</string>
                <key>textureRect</key>
                <string>{{432,0},{235,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>label-btn-quit-room.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{467,115}</string>
                <key>spriteSourceSize</key>
                <string>{467,115}</string>
                <key>textureRect</key>
                <string>{{0,115},{467,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>label-btn-quit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,114}</string>
                <key>spriteSourceSize</key>
                <string>{235,114}</string>
                <key>textureRect</key>
                <string>{{667,0},{235,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>label-bullet-value.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{440,120}</string>
                <key>spriteSourceSize</key>
                <string>{440,120}</string>
                <key>textureRect</key>
                <string>{{880,115},{440,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>label-player-name.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{413,115}</string>
                <key>spriteSourceSize</key>
                <string>{413,115}</string>
                <key>textureRect</key>
                <string>{{467,115},{413,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>label-room-id.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{347,122}</string>
                <key>spriteSourceSize</key>
                <string>{347,122}</string>
                <key>textureRect</key>
                <string>{{1320,115},{347,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>panel-player-info.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{522,300}</string>
                <key>spriteSourceSize</key>
                <string>{522,300}</string>
                <key>textureRect</key>
                <string>{{641,1260},{522,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ui.png</string>
            <key>size</key>
            <string>{1923,1560}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9d5a00d7b7478a6e73a43f45406f9305:da6326cd238c98dd4755b9668beb7f49:e489eb72a1dac3e9a97caaf8aad1ac42$</string>
            <key>textureFileName</key>
            <string>ui.png</string>
        </dict>
    </dict>
</plist>
