<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>coin-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,200}</string>
                <key>spriteSourceSize</key>
                <string>{150,200}</string>
                <key>textureRect</key>
                <string>{{0,0},{150,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coin-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{201,200}</string>
                <key>spriteSourceSize</key>
                <string>{201,200}</string>
                <key>textureRect</key>
                <string>{{150,0},{201,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coin-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,200}</string>
                <key>spriteSourceSize</key>
                <string>{150,200}</string>
                <key>textureRect</key>
                <string>{{351,0},{150,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coin-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,200}</string>
                <key>spriteSourceSize</key>
                <string>{113,200}</string>
                <key>textureRect</key>
                <string>{{501,0},{113,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coin-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,200}</string>
                <key>spriteSourceSize</key>
                <string>{24,200}</string>
                <key>textureRect</key>
                <string>{{614,0},{24,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coin-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,200}</string>
                <key>spriteSourceSize</key>
                <string>{113,200}</string>
                <key>textureRect</key>
                <string>{{638,0},{113,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>coins.png</string>
            <key>size</key>
            <string>{751,200}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ea859fde00f83e708128a62072a06a31:1f399252fa8e0512296019707b6a9c0e:678d5fa021a8be934d7e4cdec668e391$</string>
            <key>textureFileName</key>
            <string>coins.png</string>
        </dict>
    </dict>
</plist>
