<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bullet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{178,0},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,54}</string>
                <key>spriteSourceSize</key>
                <string>{81,54}</string>
                <key>textureRect</key>
                <string>{{0,0},{81,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,132}</string>
                <key>spriteSourceSize</key>
                <string>{97,132}</string>
                <key>textureRect</key>
                <string>{{81,0},{97,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,119}</string>
                <key>spriteSourceSize</key>
                <string>{151,119}</string>
                <key>textureRect</key>
                <string>{{278,0},{151,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{201,190}</string>
                <key>spriteSourceSize</key>
                <string>{201,190}</string>
                <key>textureRect</key>
                <string>{{429,0},{201,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{401,259}</string>
                <key>spriteSourceSize</key>
                <string>{401,259}</string>
                <key>textureRect</key>
                <string>{{0,190},{401,259}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gun.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,140}</string>
                <key>spriteSourceSize</key>
                <string>{250,140}</string>
                <key>textureRect</key>
                <string>{{630,0},{250,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wave-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{465,364}</string>
                <key>spriteSourceSize</key>
                <string>{465,364}</string>
                <key>textureRect</key>
                <string>{{401,190},{465,364}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wave-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{862,626}</string>
                <key>spriteSourceSize</key>
                <string>{862,626}</string>
                <key>textureRect</key>
                <string>{{0,554},{862,626}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>objects-new.png</string>
            <key>size</key>
            <string>{880,1180}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:536a6e99db4c85cc3ccdf611168e3377:e216d7881af2a79a830aac367acd2612:f01133bcd767f8ec502d42819438e249$</string>
            <key>textureFileName</key>
            <string>objects-new.png</string>
        </dict>
    </dict>
</plist>
