<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bullet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,123}</string>
                <key>spriteSourceSize</key>
                <string>{186,123}</string>
                <key>textureRect</key>
                <string>{{100,0},{186,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,276}</string>
                <key>spriteSourceSize</key>
                <string>{202,276}</string>
                <key>textureRect</key>
                <string>{{426,0},{202,276}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{472,289}</string>
                <key>spriteSourceSize</key>
                <string>{472,289}</string>
                <key>textureRect</key>
                <string>{{0,276},{472,289}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{441,416}</string>
                <key>spriteSourceSize</key>
                <string>{441,416}</string>
                <key>textureRect</key>
                <string>{{0,951},{441,416}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,386}</string>
                <key>spriteSourceSize</key>
                <string>{600,386}</string>
                <key>textureRect</key>
                <string>{{0,565},{600,386}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gun.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,251}</string>
                <key>spriteSourceSize</key>
                <string>{140,251}</string>
                <key>textureRect</key>
                <string>{{286,0},{140,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>objects.png</string>
            <key>size</key>
            <string>{628,1367}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:040c1cf1c83b1881f21de5bb1acc299e:ba0e16d394e14bd53ebbe1e16c89b192:458de8e5649215d6f4316a271776e5d5$</string>
            <key>textureFileName</key>
            <string>objects.png</string>
        </dict>
    </dict>
</plist>
