<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>x-15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,66}</string>
                <key>spriteSourceSize</key>
                <string>{145,66}</string>
                <key>textureRect</key>
                <string>{{164,0},{145,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,40}</string>
                <key>spriteSourceSize</key>
                <string>{62,40}</string>
                <key>textureRect</key>
                <string>{{0,0},{62,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x-300.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{321,105}</string>
                <key>spriteSourceSize</key>
                <string>{321,105}</string>
                <key>textureRect</key>
                <string>{{510,0},{321,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,60}</string>
                <key>spriteSourceSize</key>
                <string>{102,60}</string>
                <key>textureRect</key>
                <string>{{62,0},{102,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x-60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{201,86}</string>
                <key>spriteSourceSize</key>
                <string>{201,86}</string>
                <key>textureRect</key>
                <string>{{309,0},{201,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>multiplier.png</string>
            <key>size</key>
            <string>{831,105}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:de1b32f02f23e6860f4a82a2fb71e00f:3ac352d7d6a990d0a8424141fa6c6199:150ea8b0a85a090aaa19a9a7d9b21de0$</string>
            <key>textureFileName</key>
            <string>multiplier.png</string>
        </dict>
    </dict>
</plist>
